<header id="header">
  <a href="<%= root_path %>" class="logo"><strong>Earth Conscious</strong> by Laura Broffman</a>
  <ul class="icons">
    <li><a href="http://www.twitter.com" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    <li><a href="http://www.facebook.com" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
    <li><a href="http://www.snapchat.com" class="icon fa-snapchat-ghost" target="_blank"><span class="label">Snapchat</span></a></li>
    <li><a href="http://www.instagram.com" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    <li><a href="http://www.medium.com" class="icon fa-medium" target="_blank"><span class="label">Medium</span></a></li>
  </ul>
</header>
