
<html>
  <body style="background: rgba(203, 244, 169, 0.43)">
    <div class="" style="margin: 3em">
      <div class="">
        <img src="<%= asset_path('miami.png') %>" alt="Page Not Found" style="width: 70%">
      </div>
      <div class="" style="margin-left: 7em; margin-top: 3em;">
        <h1>Coming soon!</h3>
      </div>
    </div>
  </body>
</html>
